<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <meta charset="UTF-8">
        {% if title %}
            <title> {{ title }}</title>

        {% else %}
            <title> education </title>
        {% endif %}
    {% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}">
</head>
<body>
{% block content %}
    <ul class="menu">
        {% for m in menu %}
            <li class="link">
                <a href="{{ m. url }}"> {{ m.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {% if title %}
        <h2 class="title"> {{ title }} </h2>

    {% else %}
        <h2 class="title">  Education </h2>
    {% endif %}
    <hr>


{% endblock content %}

</body>
</html>